<!DOCTYPE html>
<html>
<head>
    <title>To-Do Page</title>
</head>
<body>
    <h1>To-Do Form</h1>

    <form action="/submittodoitem" method="POST">

        <label>Item ID:</label>
        <input type="text" name="itemId" required>
        <br><br>

        <label>Item UUID:</label>
        <input type="text" name="itemUUID" required>
        <br><br>

        <label>Item Name:</label>
        <input type="text" name="itemName" required>
        <br><br>

        <label>Item Hash:</label>
        <input type="text" name="itemHash" required>
        <br><br>

        <label>Item Description:</label>
        <input type="text" name="itemDescription" required>
        <br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>

